/*{
  margin: 0px;
  padding: 0px;
}**/
body{
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #000000; 
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}
#logo{
  width: 60px;
  height: 40px;
  padding-top: 20px;
  padding-left: 20px;
 
}
ul{
display: inline;
padding: 5px;
  color: #ffff;

}
li{
  display: inline;
  padding:25px;
  font-size: 20px;
  color: #ffff;

}
.navbar{
  display: flex;
  justify-content: space-between;
  align-content: center;

} 
h1{
  text-align: center;
  padding-top: 80px;
  font: size 3rem ;
  color: #ffff;
  font-size: 80px;
}
p{
  color: #ffff;
  text-align: center;
  font-size: 30px;
}
#button{
 background-color: #1de9b6;
border-color: #1de9b6;
border-radius: 1rem;
width: 250px;
text-align: center;
margin-left: 45%;
 }
 .btncontent{
  text-align: center;
  color: #ffff;
 }
 .btnwrapper{
   padding-left: 40%;
 }
 